/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
html, body {
  margin: 0;
  font-family: 'Open Sans', Arial;
}

/* line 12, ../sass/screen.scss */
.divider {
  background: #1a1a1a;
  height: 20vh;
}

/* line 18, ../sass/screen.scss */
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
/* line 27, ../sass/screen.scss */
.topnav li {
  display: inline;
  list-style: none;
  text-align: center;
  font-weight: 700;
  padding: 0 0.5rem;
}
/* line 33, ../sass/screen.scss */
.topnav li a {
  color: white;
  text-decoration: none;
}

/* line 42, ../sass/screen.scss */
h2 {
  font-size: 18px;
  font-family: "Open Sans";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: center;
  margin: 0;
}

/* line 53, ../sass/screen.scss */
.row {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

/* line 59, ../sass/screen.scss */
.veranstaltungen {
  background: #1a1a1a;
  padding: 70px 0;
}
/* line 62, ../sass/screen.scss */
.veranstaltungen * {
  color: white;
}
/* line 66, ../sass/screen.scss */
.veranstaltungen table * {
  text-transform: uppercase;
  border: none;
  font-size: 14px;
}
/* line 71, ../sass/screen.scss */
.veranstaltungen table {
  margin-top: 20px;
  width: 100%;
}
/* line 74, ../sass/screen.scss */
.veranstaltungen table th {
  font-weight: bold;
}
/* line 77, ../sass/screen.scss */
.veranstaltungen table th, .veranstaltungen table td {
  padding: 10px;
}

/* line 85, ../sass/screen.scss */
.members {
  height: 100vh;
  background-image: url(../assets/img/fabi.jpg);
}
